<!DOCTYPE HTML>
<html lang="{{ language }}" class="{{ default_theme }} sidebar-visible" dir="{{ text_direction }}">
    <head>
        <!-- Book generated using mdBook -->
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        {{#if is_print }}
        <meta name="robots" content="noindex">
        {{/if}}
        {{#if base_url}}
        <base href="{{ base_url }}">
        {{/if}}

        <!-- Custom HTML head -->
        {{> head}}

        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ffffff">

        {{#if favicon_svg}}
        <link rel="icon" href="{{ path_to_root }}favicon.svg">
        {{/if}}
        {{#if favicon_png}}
        <link rel="shortcut icon" href="{{ path_to_root }}favicon.png">
        {{/if}}
        <link rel="stylesheet" href="{{ path_to_root }}css/variables.css">
        <link rel="stylesheet" href="{{ path_to_root }}css/general.css">
        <link rel="stylesheet" href="{{ path_to_root }}css/chrome.css">
        {{#if print_enable}}
        <link rel="stylesheet" href="{{ path_to_root }}css/print.css" media="print">
        {{/if}}

        <!-- Fonts -->
        <link rel="stylesheet" href="{{ path_to_root }}FontAwesome/css/font-awesome.css">
        {{#if copy_fonts}}
        <link rel="stylesheet" href="{{ path_to_root }}fonts/fonts.css">
        {{/if}}

        <!-- Highlight.js Stylesheets -->
        <link rel="stylesheet" href="{{ path_to_root }}highlight.css">
        <link rel="stylesheet" href="{{ path_to_root }}tomorrow-night.css">
        <link rel="stylesheet" href="{{ path_to_root }}ayu-highlight.css">

        <!-- Custom theme stylesheets -->
        {{#each additional_css}}
        <link rel="stylesheet" href="{{ ../path_to_root }}{{ this }}">
        {{/each}}

        {{#if mathjax_support}}
        <!-- MathJax -->
        <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        {{/if}}

        <!-- Provide site root to javascript -->
        <script>
            var path_to_root = "{{ path_to_root }}";
            var lang = "{{ language }}";
            var default_theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "{{ preferred_dark_theme }}" : "{{ default_theme }}";
        </script>
        <!-- Start loading toc.js asap -->
        <script src="{{ path_to_root }}toc.js"></script>
    </head>
    <body>
    <div id="body-container">
        <!-- Work around some values being stored in localStorage wrapped in quotes -->
        <script>
            try {
                var theme = localStorage.getItem('mdbook-theme');
                var sidebar = localStorage.getItem('mdbook-sidebar');

                if (theme.startsWith('"') && theme.endsWith('"')) {
                    localStorage.setItem('mdbook-theme', theme.slice(1, theme.length - 1));
                }

                if (sidebar.startsWith('"') && sidebar.endsWith('"')) {
                    localStorage.setItem('mdbook-sidebar', sidebar.slice(1, sidebar.length - 1));
                }
            } catch (e) { }
        </script>

        <!-- Set the theme before any content is loaded, prevents flash -->
        <script>
            var theme;
            try { theme = localStorage.getItem('mdbook-theme'); } catch(e) { }
            if (theme === null || theme === undefined) { theme = default_theme; }
            const html = document.documentElement;
            html.classList.remove('{{ default_theme }}')
            html.classList.add(theme);
            html.classList.add("js");
        </script>

        <input type="checkbox" id="sidebar-toggle-anchor" class="hidden">

        <!-- Hide / unhide sidebar before it is displayed -->
        <script>
            var sidebar = null;
            var sidebar_toggle = document.getElementById("sidebar-toggle-anchor");
            var body = document.querySelector("body");
            if (document.body.clientWidth >= 550) {
                try { sidebar = localStorage.getItem('mdbook-sidebar'); } catch(e) { }
                sidebar = sidebar || 'visible';
            } else {
                sidebar = 'hidden';
            }
            sidebar_toggle.checked = sidebar === 'visible';
            html.classList.remove('sidebar-visible');
            html.classList.add("sidebar-" + sidebar);
            body.classList.remove('sidebar-visible');
            body.classList.add("sidebar-" + sidebar);
        </script>

        <div id="page-wrapper" class="page-wrapper">
            {{#if search_enabled}}
            <div id="search-wrapper" class="hidden">
                <div id="search-modal">
                    <form id="searchbar-outer" class="searchbar-outer">
                        <span class="fa fa-search"></span>
                        <input type="search" id="searchbar" name="searchbar" placeholder="Search this book ..." aria-controls="searchresults-outer" aria-describedby="searchresults-header">
                    </form>
                    <div id="searchresults-outer" class="searchresults-outer hidden">
                        <div id="searchresults-header" class="searchresults-header"></div>
                        <ul id="searchresults">
                        </ul>
                    </div>
                </div>
            </div>
            {{/if}}

            <div class="page">
                {{> header}}
                <div id="menu-bar-hover-placeholder"></div>
                <div id="menu-bar" class="menu-bar sticky">
                    <div class="menu-bar-container">
                        <div class="left-buttons">
                            <label id="sidebar-toggle" class="icon-button" for="sidebar-toggle-anchor" title="Toggle Table of Contents" aria-label="Toggle Table of Contents" aria-controls="sidebar">
                                <i class="fa fa-bars"></i>
                            </label>
                            <a href="/">
                                <h1 class="menu-title"><img src="../../../../../images/CLOUD-web-logo.png" alt="" style="width:auto;height:30px;vertical-align:middle;margin-right:5px;">{{ book_title }}</h1>
                            </a>

                        </div>


                        <div class="right-buttons">
                            <div id="menubar-collapse">
                                <a class="menu-bar-link" href="https://training.hacktricks.xyz" target="_blank">
                                    Hacktricks Training
                                </a>
                                <a class="menu-bar-link" href="https://twitter.com/hacktricks_live" target="_blank">
                                    Twitter
                                </a>
                                <a class="menu-bar-link" href="https://www.linkedin.com/company/hacktricks" target="_blank">
                                    Linkedin
                                </a>
                                <a class="menu-bar-link" href="https://github.com/sponsors/carlospolop" target="_blank">
                                    Sponsor
                                </a>
                            </div>
                            <div class="icons">
                                <div id="menubar-collapse-toggle" class="icon-button" type="button" title="Toggle menu bar" aria-label="Toggle Menu bar" aria-expanded="false" aria-controls="collapse">
                                    <i class="fa fa-ellipsis-h"></i>
                                    <div id="menubar-collapse-popup" class="menubar-collapse-popup" aria-label="Menu" role="menu">
                                        <a href="https://training.hacktricks.xyz" target="_blank" role="menuitem" class="menu-bar-link">Hacktricks Training</a>
                                        <a href="https://twitter.com/hacktricks_live" target="_blank" role="menuitem" class="menu-bar-link">Twitter</a>
                                        <a href="https://www.linkedin.com/company/hacktricks" target="_blank" role="menuitem" class="menu-bar-link">Linkedin</a>
                                        <a href="https://github.com/sponsors/carlospolop" target="_blank" role="menuitem" class="menu-bar-link">Sponsor</a>
                                    </div>
                                </div>

                                {{#if search_enabled}}
                                <button id="search-toggle" class="icon-button" type="button" title="Search. (Shortkey: s)" aria-label="Toggle Searchbar" aria-expanded="false" aria-keyshortcuts="S" aria-controls="searchbar">
                                    <i class="fa fa-search"></i>
                                </button>
                                {{/if}}

                                <div id="menubar-languages-toggle" class="icon-button" type="button" title="Translations" aria-label="Toggle Tanslations" aria-expanded="false" aria-controls="translations">
                                    <i class="fa fa-globe"></i>
                                    <span class="menu-bar-link">Translations</span>
                                    
                                    <div id="menubar-languages-popup" class="menubar-languages-popup" aria-label="Language menu" role="language menu">
                                        <button id="af" role="menuitem" class="menu-bar-link">Afrikaans</button>
                                        <button id="zh" role="menuitem" class="menu-bar-link">Chinese</button>
                                        <button id="en" role="menuitem" class="menu-bar-link">English</button>
                                        <button id="fr" role="menuitem" class="menu-bar-link">French</button>
                                        <button id="de" role="menuitem" class="menu-bar-link">German</button>
                                        <button id="el" role="menuitem" class="menu-bar-link">Greek</button>
                                        <button id="hi" role="menuitem" class="menu-bar-link">Hindi</button>
                                        <button id="it" role="menuitem" class="menu-bar-link">Italian</button>
                                        <button id="ja" role="menuitem" class="menu-bar-link">Japanese</button>
                                        <button id="ko" role="menuitem" class="menu-bar-link">Korean</button>
                                        <button id="pl" role="menuitem" class="menu-bar-link">Polish</button>
                                        <button id="pt" role="menuitem" class="menu-bar-link">Portuguese</button>
                                        <button id="sr" role="menuitem" class="menu-bar-link">Serbian</button>
                                        <button id="es" role="menuitem" class="menu-bar-link">Spanish</button>
                                        <button id="sw" role="menuitem" class="menu-bar-link">Swahili</button>
                                        <button id="tr" role="menuitem" class="menu-bar-link">Turkish</button>
                                        <button id="uk" role="menuitem" class="menu-bar-link">Ukrainian</button>
                                    </div>
                                </div>
                            </div>

                            {{#if print_enable}}
                            <a href="{{ path_to_root }}print.html" title="Print this book" aria-label="Print this book">
                                <i id="print-button" class="fa fa-print"></i>
                            </a>
                            {{/if}}
                            {{#if git_repository_url}}
                            <a href="{{git_repository_url}}" title="Git repository" aria-label="Git repository">
                                <i id="git-repository-button" class="fa {{git_repository_icon}}"></i>
                            </a>
                            {{/if}}
                            {{#if git_repository_edit_url}}
                            <a href="{{git_repository_edit_url}}" title="Suggest an edit" aria-label="Suggest an edit">
                                <i id="git-edit-button" class="fa fa-edit"></i>
                            </a>
                            {{/if}}

                        </div>
                    </div>
                </div>
                <div id="container" class="container">
                    <nav id="sidebar" class="sidebar" aria-label="Table of contents">
                        <!-- populated by js -->
                        <mdbook-sidebar-scrollbox class="sidebar-scrollbox"></mdbook-sidebar-scrollbox>
                        <noscript>
                            <iframe class="sidebar-iframe-outer" src="{{ path_to_root }}toc.html"></iframe>
                        </noscript>
                    </nav>
                    <!-- Apply ARIA attributes after the sidebar and the sidebar toggle button are added to the DOM -->
                    <script>
                        document.getElementById('sidebar-toggle').setAttribute('aria-expanded', sidebar === 'visible');
                        document.getElementById('sidebar').setAttribute('aria-hidden', sidebar !== 'visible');
                        Array.from(document.querySelectorAll('#sidebar a')).forEach(function(link) {
                            link.setAttribute('tabIndex', sidebar === 'visible' ? 0 : -1);
                        });
                    </script>

                    <div id="content" class="content">
                        <main>
                            <div class="mobilesponsor-wrapper">

                            <a class="mobilesponsor" href="" target="_blank">
                                <img src="" alt="" srcset="">
                                <div class="mobilesponsor-title">
                                </div>
                                <div class="mobilesponsor-description">
                                </div>
                                <div class="mobilesponsor-cta"></div>
                            </a>
                            </div>
                            {{{ content }}}
                        </main>

                        <nav class="nav-wrapper" aria-label="Page navigation">
                            <!-- Mobile navigation buttons -->
                            {{#previous}}
                                <a rel="prev" href="{{ path_to_root }}{{link}}" class="mobile-nav-chapters previous" title="Previous chapter" aria-label="Previous chapter" aria-keyshortcuts="Left">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            {{/previous}}

                            {{#next}}
                                <a rel="next prefetch" href="{{ path_to_root }}{{link}}" class="mobile-nav-chapters next" title="Next chapter" aria-label="Next chapter" aria-keyshortcuts="Right">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            {{/next}}

                            <div style="clear: both"></div>
                        </nav>

                        <nav class="nav-wide-wrapper" aria-label="Page navigation">
                            {{#previous}}
                                <a rel="prev" href="{{ path_to_root }}{{link}}" class="nav-chapters previous" title="Previous chapter" aria-label="Previous chapter" aria-keyshortcuts="Left">
                                    <i class="fa fa-angle-left"></i><span style="font-size: medium; align-self: center; margin-left: 10px;">{{title}}</span>
                                </a>
                            {{/previous}}

                            {{#next}}
                                <a rel="next prefetch" href="{{ path_to_root }}{{link}}" class="nav-chapters next" title="Next chapter" aria-label="Next chapter" aria-keyshortcuts="Right">
                                    <span style="font-size: medium; align-self: center; margin-right: 10px;">{{title}}</span><i class="fa fa-angle-right"></i>
                                </a>
                            {{/next}}
                        </nav>
                    </div>

                    <div class="sidetoc">
                        <div class="sidetoc-wrapper">
                            <nav class="pagetoc"></nav>
                            <a class="sidesponsor" href="" target="_blank">
                                <img src="" alt="" srcset="">
                                <div class="sponsor-title">
                                </div>
                                <div class="sponsor-description">
                                </div>
                                <div class="sponsor-cta"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div id="theme-wrapper" class="theme-wrapper">
                        <div id="theme-btns" class="theme-btns">
                            <button id="hacktricks-light" type="button" role="radio" aria-label="Switch to light theme" aria-checked="false" class="theme">
                                <i class="fa fa-sun-o"></i>
                            </button>
                            {{!-- <button id="default_theme" type="button" role="radio" aria-label="Switch to system theme" aria-checked="true" class="theme">
                                <i class="fa fa-laptop"></i>
                            </button> --}}
                            <button id="hacktricks-dark" type="button" role="radio" aria-label="Switch to dark theme" aria-checked="false" class="theme theme-selected">
                                <i class="fa fa-moon-o"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        {{#if live_reload_endpoint}}
        <!-- Livereload script (if served using the cli tool) -->
        <script>
            const wsProtocol = location.protocol === 'https:' ? 'wss:' : 'ws:';
            const wsAddress = wsProtocol + "//" + location.host + "/" + "{{{live_reload_endpoint}}}";
            const socket = new WebSocket(wsAddress);
            socket.onmessage = function (event) {
                if (event.data === "reload") {
                    socket.close();
                    location.reload();
                }
            };

            window.onbeforeunload = function() {
                socket.close();
            }
        </script>
        {{/if}}

        {{#if google_analytics}}
        <!-- Google Analytics Tag -->
        <script>
            var localAddrs = ["localhost", "127.0.0.1", ""];

            // make sure we don't activate google analytics if the developer is
            // inspecting the book locally...
            if (localAddrs.indexOf(document.location.hostname) === -1) {
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', '{{google_analytics}}', 'auto');
                ga('send', 'pageview');
            }
        </script>
        {{/if}}

        {{#if playground_line_numbers}}
        <script>
            window.playground_line_numbers = true;
        </script>
        {{/if}}

        {{#if playground_copyable}}
        <script>
            window.playground_copyable = true;
        </script>
        {{/if}}

        {{#if playground_js}}
        <script src="{{ path_to_root }}ace.js"></script>
        <script src="{{ path_to_root }}editor.js"></script>
        <script src="{{ path_to_root }}mode-rust.js"></script>
        <script src="{{ path_to_root }}theme-dawn.js"></script>
        <script src="{{ path_to_root }}theme-tomorrow_night.js"></script>
        {{/if}}

        {{#if search_js}}
        <script src="{{ path_to_root }}elasticlunr.min.js"></script>
        <script src="{{ path_to_root }}mark.min.js"></script>
        <!--<script src="{{ path_to_root }}searcher.js"></script>-->
        {{/if}}

        <script src="{{ path_to_root }}clipboard.min.js"></script>
        <script src="{{ path_to_root }}highlight.js"></script>
        <script src="{{ path_to_root }}book.js"></script>

        <!-- Custom JS scripts -->
        {{#each additional_js}}
        <script src="{{ ../path_to_root }}{{this}}"></script>
        {{/each}}

        <!-- Custom analytics -->
        <script defer src="https://www.fairanalytics.de/pixel/deXeO7BNBrMuhdG1"></script>


        {{#if is_print}}
        {{#if mathjax_support}}
        <script>
        window.addEventListener('load', function() {
            MathJax.Hub.Register.StartupHook('End', function() {
                window.setTimeout(window.print, 100);
            });
        });
        </script>
        {{else}}
        <script>
        window.addEventListener('load', function() {
            window.setTimeout(window.print, 100);
        });
        </script>
        {{/if}}
        {{/if}}

    </div>
    </body>
</html>
